@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Josefin+Sans|Notable|Open+Sans|Source+Code+Pro&display=swap');

$blue: #345995; 
$dark: #363537;
$green: #0cce6b;
$orange: #ed7d3a;
$pink: #ef2d56;
$white: #fff;
$yellow: #eac435;

$main-font: 'Source Code Pro';
$title-font: 'Notable';