.instructions {
    background-color: $dark;
    color: #fff;
    padding: 15px;
    border-radius: 20px 0px 20px 0px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 40vw;

    &-title {
        font-family: $title-font;
        font-size: 2.5rem;
        margin: 0;
        text-transform: uppercase;
    }
    
    &-text {
        font-size: 1.25rem;
        margin: 5px;
    }
}